@mixin fonts-clear {
  font-size: 0;
  line-height: 0;
}

@mixin _fonts-base {
  -webkit-font-smoothing: antialiased;
}

@mixin fonts-body {
  font-family: Helvetica Neue;
  font-size: 14px;
  line-height: 16px;
}
